{{>header}}
    <div class="container-md">
    <form action="" class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
    <label >Producto</label>
    <select id="Producto">
        <option value="1">Aceite</option>
        <option value="2">Arroz</>
        <option value="3">Agua</option>
    </select>
    <br>
    <label >Precio: </label>
    <input type="text" id="precio">
    <br>
    <label >Cantidad</label>
    <input type="text" id="Cantidad">
    <br>
    <label >Subtotal</label>
    <input type="text" id="Subtotal" readonly>
    <br>
    <button type="button" id="btnRegistrar">Registrar</button>
    </form>
    <p id="respuesta">*******</p>
</div>
<script src="../assets/js/funciones.js">



</script>
{{>footer}}
